{% extends 'stockCRM/base.html' %}
{% load static %}
{% block title %} User List {% endblock%}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Users</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn btn-info mb-1" href="{% url 'product_create' %}">Create new product</a>
        <a class="btn btn-success mb-1" href="{% url 'user_create' %}">Create new user</a>
        <a class="btn btn-danger mb-1" href="{% url 'product_list' %}">Show product list</a>
        <a class="btn btn-primary mb-1" href="{% url 'signout' %}">Sign out</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <table class="table table-hover mt-1">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ u.firstname }}</td>
                <td class="quantityCell">{{ u.surname }}</td>
                <td>{{ u.get_user_type_display }}</td>
                <td>
                  <a class="btn btn-info" href="{% url 'user_view' u.id %}">View</a>
                  <a class="btn btn-success" href="{% url 'user_update' u.id %}">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
